/PCB/Diesel_Injector_Tester/GERBERS*
/PCB/Diesel_Injector_Tester/*cache
/PCB/Diesel_Injector_Tester/*backups/
/firmware/.metadata/
/firmware/Diesel_Injector_Tester/*.launch
/firmware/Diesel_Injector_Tester/.metadata/
/firmware/Diesel_Injector_Tester/.settings/
/firmware/Diesel_Injector_Tester/Debug/
/firmware/Diesel_Injector_Tester/Release/
